<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        C1
      </th>
      <th>
        C2
      </th>
      <th>
        C3
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groupedData">
      <td>
        {{group[0].name}}
      </td>
      <td>
        {{addCategoryAmounts(group, 'C1')}}
      </td>
      <td>
        {{addCategoryAmounts(group, 'C2')}}
      </td>
      <td>
        {{addCategoryAmounts(group, 'C3')}}
      </td>
    </tr>
  </tbody>
</table>
